extends layout

block content

	div(class="well")

		h1 Change Your Info
		if errors
			for error in errors
				div(class="alert alert-danger") #{error.msg}

		form(method="post", action="/users/editRestaurantInfo")
			div(class="form-group")
				label Name of the Restaurant
				input(class="form-control", name="restaurantName" , readonly, type="text", placeholder="Enter Name", value="#{restaurant.restaurantName}")
			div(class="form-group")
				label Phonenumber
				input(class="form-control", name="phonenumber", type="phonenumber", placeholder="Enter Phonenumber", value="#{restaurant.phonenumber}")
			div(class="form-group")
				label Website URL
				input(class="form-control", name="website", type="text", placeholder="Enter Website URL", value="#{restaurant.website}")
			div(class="form-group")
				label Address
				input(class="form-control", name="address", type="text", placeholder="Enter Address", value="#{branches.address}")
			div(class="form-group")
				label City
				input(class="form-control", name="city", type="text", placeholder="Enter City", value="#{branches.city}")
			div(class="form-group")
				label Postal Code
				input(class="form-control", name="postalCode", type="number", placeholder="Enter Postal Code", value="#{branches.postal}")
			div(class="form-group")
				label Description of your restaurant
				textarea(class="form-control", name="description", placeholder="Enter Description") #{restaurant.description}
			input(class="btn btn-primary", type="submit", name="submit", value="Save Changes")
