extends layout

block content
	div(class="container-fluid")
		div(class="row")
			div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
				div(class="well col-xs-12 col-sm-12 col-md-12 col-lg-12")
					h1(class="text-center") Dino
					br
					p(class="text-center") Welcome to #{title}
					br
					br
					form(method="post", action="/search")
						div(class="form-group has-feedback")
							input(type="text" class="form-control" id="searchBar" placeholder="Search" name="searchBar")
							i(class="glyphicon glyphicon-search form-control-feedback")
						div(class="form-group")
							div(class="btn-group" role="group" aria-label="...")
								if types
									each type in types
										input(class="btn btn-default types #{type.active}" type="button" value="#{type.name}")
						div(class="form-group")
							if priceRange
								b(id="price-slider-low") #{priceRange.low} kr
								input(class="priceRange" input id="price-slider" data-slider-min="500" data-slider-max="10000" data-slider-step="100" data-slider-value="[#{priceRange.low}, #{priceRange.high}]" value="[#{priceRange.low}, #{priceRange.high}]" data-slider-tooltip="hide" name="priceRange" )
								b(id="price-slider-high") #{priceRange.high} kr
						div(class="form-group")
							button(type="submit" class="btn btn-primary pull-right") Search
		if offers 
			each offer in offers
				div(class="row")
					div(class="offerContainer col-xs-12 col-sm-6 col-md-3 col-lg-3")
						a(data-toggle="modal" data-target=".offer-modal-#{offer.id}")
							div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well" )
								h4(class="restaurantName") #{offer.restId}
								img(src="img/#{offer.photo}")
								h4 #{offer.name}
								h4(class="price") #{offer.price}


					//- Offer Modal View
					div(class="modalContainer modal fade offer-modal-#{offer.id}" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel")
						div(class="modal-dialog modal-lg" role="document")
							div(class="modal-content")
								h2 #{offer.name}
								img(src="img/#{offer.photo}")
								p #{offer.description}
								h3 #{offer.price}
								br


